<h1 class="text-center">Update animal</h1>

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <form action="/update_animal_by_id" method="POST">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" name="name" value="{{animal.name}}">
            </div>
            <div class="form-group">
                <label for="type">Type:</label>
                <input type="text" class="form-control" name="type" value="{{animal.type}}">
            </div>          
                <input type="hidden" class="form-control" name="id" value="{{animal.id}}">
 
            <button type="submit" class="btn btn-primary">Update car</button>
        </form> 
        </div>
        <div class="col-2">

        </div>
    </div>