<h1>About car</h1>

<div class="container">
    <div class="card">
        <div class="card-header">{{car.name}}</div>
        <div class="card-body">{{car.price}}</div>
        <div class="card-footer">{{car.brand}}</div>
    </div>
</div>